.login{
    height: 100vh;
    background-image: linear-gradient(to right,#d3ccfc,#fc90e7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}
.loginForm{
    background-color: white;
    height: 90%;
    width: 50%;
    box-sizing: border-box;
    box-shadow: 12px 10px 13px rgb(135,130,150);
    border-radius: 5px;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm >input{
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font:100 1.2rem "Roboto",sans-serif;
    outline: none;
}
.loginForm > a {
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
    margin:2vmax;
}
@media screen and (max-width: 960px) {
    .loginForm{
        width: 70%;
        height: 80%;
    }
    .loginForm > input{
        padding: 4vw 6vw;
        font: 100 1.2rem "Roboto",sans-serif;
        margin: 2vw;
    }
}
@media screen and (max-width: 600px) {
    .loginForm{
        width: 100%;
        height: 70%;
    }
    .loginForm > a{
        align-self: center;
        margin: 3vmax;
    }
}