.homeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.3rem;
  padding: 2rem 0;
}

.homeHeader {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.homeHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories {
  display: flex;
  gap: 2rem;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}

.catCard {
  width: max-content;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* card */
.cardAction {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.card {
  width: 200px;
  height: 200px;
  border: 2px dashed rgb(255, 77, 0);
}

.cardText {
  text-transform: capitalize;
}
.card:hover .cardText {
  color: rgb(255, 55, 0);
}