.homeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.3rem;
  padding: 2rem 0;
}

.homeHeader {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.homeHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories {
  display: flex;
  gap: 2rem;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}

.catCard {
  width: max-content;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
