@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MangoGrotesque";
    src: url("./fonts/MangoGrotesque-VF.ttf") format("truetype")
}

@font-face {
    font-family: "MANGO";
    src: url("../public/font/MangoGrotesqueSemiBold.otf");
}

/* Css For Schedule Section */
#Shine {
    overflow: hidden;
    background: linear-gradient(90deg, #000, #a84c13, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }