@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MangoGrotesque";
    src: url("./fonts/MangoGrotesque-VF.ttf") format("truetype")
}

@font-face {
    font-family: "MANGO";
    src: url("../public/font/MangoGrotesqueSemiBold.otf");
  }