.register {
    min-height: 100vh;
    background-image: linear-gradient(to right, #9e0000, #ffd035);  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
  
  .registerForm {
    background-color: white;
    width: 50%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .registerForm > h3 {
    padding: 3vmax;
  }
  
  .registerInputs {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 1vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
  }
  
  .registerForm > input[type="file"] {
    border-radius: 30px;
    margin: 2vmax;
  }
  
  .registerForm > input[type="file"]::file-selector-button {
    background-color: #FF6600;
    color: white;
    width: 100%;
    padding: 1vmax;
    border-radius: 30px;
    border: none;
    font: 100 1.2rem "Roboto Condensed", sans-serif;
  }
  
  .registerForm a, .register-old {
    color: rgba(0, 0, 0, 0.342);
    margin: 2vmax 0;
  }
  
@media screen and (max-width: 960px) {
    .registerForm{
        width: 80%;
    }
    .registerForm > input{
        padding: 2.5vw 6vw;
        font: 100 1.2rem "Roboto Condensed",sans-serif;
    }
    .registerForm > input[type="file"] {
        width: 80%;
      }
    .registerForm > input[type="file"]::file-selector-button {
        width: 40%;
    }
    
}
@media screen and (max-width: 600px) {
    .registerForm{
        width: 100%;
        height: 70%;
    }
    .registerForm > a{
        align-self: center;
        margin: 3vmax;
    }
    .registerForm > input[type="file"] {
        width: 80%;
      }
    .registerForm > input[type="file"]::file-selector-button {
        width: 50%;
    }
    .registerForm > a {
        align-self: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.342);
      }
}  